@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d8dfd8;
  --foreground: #719068;
  --animation: rgba(63, 104, 6, 0.35);
  --font-nunito: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d221d;
    --foreground: #83997e;
    --animation: rgba(113, 147, 69, 0.35);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito);
  letter-spacing: 0.25px;
  font-size: 18px;
}
body * {
  transition: all 50ms ease;
}

svg#logo path {
  fill: var(--foreground);
}

button#hamburger-menu,
button#hamburger-menu::before,
button#hamburger-menu::after {
  content: "";
  width: 2rem;
  height: 0.225rem;
  margin: 0.45rem 0;
  background: var(--foreground);
}
button#hamburger-menu::before,
button#hamburger-menu::after {
  transition: all 250ms ease;
  display: block;
}
button#hamburger-menu::before {
  margin-top: 0.65rem;
}

.open button#hamburger-menu {
  background-color: transparent;
}
.open button#hamburger-menu::before {
  transform: rotate(45deg);
}
.open button#hamburger-menu::after {
  transform: rotate(-45deg) translate(0.5rem, -0.5rem);
}
.open .wave {
  z-index: 9;
}
.wave {
  display: none;
  position: absolute;
  pointer-events: none;
}
.wave.active {
  display: block;
}
.wave.active div {
  background: var(--animation);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 14em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.12;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave.active div:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.12;
}

.wave.active div:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.12;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
