@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eaedea;
  --foreground: #8faa88;
  --font-nunito: "Nunito", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eaedea;
    --foreground: #8faa88;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito);
  font-size: 20px;
  letter-spacing: 0.25px;
}
